# Renomeie este arquivo para ".env" e preencha com os dados do seu projeto Firebase.
# Você encontra esses valores em: Console do Firebase > Configurações do projeto > Seus apps > SDK do Firebase.

VITE_FB_API_KEY=
VITE_FB_AUTH_DOMAIN=
VITE_FB_PROJECT_ID=
VITE_FB_STORAGE_BUCKET=
VITE_FB_MESSAGING_SENDER_ID=
VITE_FB_APP_ID=
